.tk-sso-error {
    color: red;
    padding: 10px 15px;
}

#tkSsoError {
    display: none;
    color: red;
    border: 1px solid red;
    margin-bottom: 30px;
    padding: 10px;
    width: 90%;
}

#tkSsoError.active {
    display: inline-block;
}

.tkSSoSpinner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10000000000000000;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 15px;
}

.tkSSoSpinner.active {
    display: flex;
}

.tkSSoSpinner img {
    width: 50px;
}

.tk-sso-logout-link:hover {
    cursor: pointer;
}